doctype html
html
  head
    title Create a new account
    link(rel="stylesheet", href="css/main.css")
  body
    header
      nav
        ul
          li: a(href="/") Home
          li: a(href="adminLogin.html") Admin Login
          li: a(href="adminPanel.html") Admin Panel
          li: a(href="/createAccount") Create Account
          li: a(href="forgotPassword.html") Forgot Password
          li: a(href="login.html") Login
          li: a(href="payment.html") Payment
          li: a(href="reserve.html") Reserve
          li: a(href="resetPassword.html") Reset Password
          li: a(href="messenger.html") (Temp) Messenger
    main
      section
        h1 CREATE ACCOUNT
        form(action="/createAccountForm", method="POST")
          label(for="email") Email Address
          input(type="email", id="email", name="email", value="example123@hotmail.com", required)
          
          label(for="confirmEmail") Confirm Email Address
          input(type="email", id="confirmEmail", name="confirmEmail", value="example123@hotmail.com", required)
          
          label(for="password") Password
          input(type="password", id="password", name="password", value="Password", required)
          
          label(for="confirmPassword") Confirm Password
          input(type="password", id="confirmPassword", name="confirmPassword", value="Password", required)
          
          label(for="tos") *I accept the terms and conditions
          input(type="checkbox", id="tos", name="tos", value="tos", required)
          
          input(type="submit", value="CREATE ACCOUNT")
          p A verification email will be sent to you.
    footer
