doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ParkFlow
    link(rel="stylesheet" href="styles.css")

  body
    // Navigation
    nav.navbar
      .logo ParkFlow
      .menu-icon(onclick="toggleMenu()") &#9776;
      ul.nav-links
        li: a(href="/index") Home
        li: a(href="/login") Login
        li: a(href="/create-account") Create Account

    // Main Content
    .content
      h1 Welcome to ParkFlow
      p Your smart car park solution.

    // Footer
    footer
      p &copy; 2025 ParkFlow. All Rights Reserved.

    script(src="script.js")
