doctype html
html
  head
    title Login Page
    link(rel="stylesheet", href="/css/main.css")

  body
    header
      nav
        ul
          li: a(href="/") Home
          li: a(href="adminLogin.html") Admin Login
          li: a(href="adminPanel.html") Admin Panel
          li: a(href="/createAccount") Create Account
          li: a(href="forgotPassword.html") Forgot Password
          li: a(href="login.html") Login
          li: a(href="payment.html") Payment
          li: a(href="reserve.html") Reserve
          li: a(href="resetPassword.html") Reset Password
          li: a(href="messenger.html") (Temp) Messenger

    main
      section
        h1 HOME PAGE

    footer
