doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ParkFlow
    link(rel="stylesheet" href="styles.css")
    link(rel="stylesheet" href="bootstrap.css")

  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-nav 
      .container.px-5 
        a.navbar-brand(href="#!") Parkflow
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarSupportedContent 
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0 
            li.nav-item: a.nav-link.active(aria-current="page" href="/index") Home
            li.nav-item: a.nav-link(href="/login") Login
            li.nav-item: a.nav-link(href="/create-account") Create Account
  

    // Main Content
  
    header.bg-nav.py-5 
      .container.px-5 
        .row.gx-5.justify-content-center 
          .col-lg-6 
            .text-center.my-5 
              h1.display-5.fw-bolder.text-white.mb-2 Welcome to Parkflow 
              p.lead.text-white-50.mb-4 Your smart car park solution 
              .d-grid.gap-3.d-sm-flex.justify-content-sm-center 
                a.btn.btn-primary.btn-lg.px-4.me-sm-3(href="#features") Get Started
                a.btn.btn-outline-light.btn-lg.px-4(href="#!") Learn More

    // About Us
    section.py-5.border-bottom#features
      .container.px-5.my-5
        .row.gx-5   
          .col-lg-13.mb-5.mb-lg-0
            //.feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
            //img(href="#headshot1.png")
            h2.h4.fw-bolder Featured Title
            p Paragraph of text uwu
          .col-lg-13.mb-5.mb-lg-0
            //.feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
            //img(href="#headshot1.png")
            h2.h4.fw-bolder Featured Title
            p Paragraph of text uwu
          .col-lg-13.mb-5.mb-lg-0
            //.feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
            //img(href="#headshot1.png")
            h2.h4.fw-bolder Featured Title
            p Paragraph of text uwu
          .col-lg-13.mb-5.mb-lg-0
            //.feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
            //img(href="#headshot1.png")
            h2.h4.fw-bolder Featured Title
            p Paragraph of text uwu
          .col-lg-13.mb-5.mb-lg-0
            //.feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
            //img(href="#headshot1.png")
            h2.h4.fw-bolder Featured Title
            p Paragraph of text uwu



    // Footer
    footer.py-5.bg-nav
      .container.pix-5 
        p.m-0.text-center.text-white Copyright &copy; 2025 ParkFlow. All Rights Reserved.

    script(src="script.js")
