doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Login | ParkFlow
    link(rel="stylesheet" href="styles.css")

  body
    // Navbar
    nav.navbar
      .logo ParkFlow
      ul.nav-links
        li: a(href="/") Home
        li: a(href="/login") Login
        li: a(href="/create-account") Create Account

    // Login Form
    .content
      .form-container
        h1 Login
        form(action="user-access.pug" method="post")
          label(for="username") Username
          input(type="text" id="username" name="username" placeholder="Enter your username" required)

          label(for="password") Password
          input(type="password" id="password" name="password" placeholder="Enter your password" required)

          button(type="submit") Login

        // Forgot Password link
        .forgot-password
          a(href="forgot-password.pug") Forgot Password?

        // Don't have an account? Create one now!
        .signup-link
          p Don't have an account? 
            a(href="signup.pug") Create one now!

    // Footer
    footer
      p &copy; 2025 ParkFlow. All Rights Reserved.

    script(src="script.js")
