// views/verification.pug
doctype html
html
  head
    title Verification Page
    link(rel="stylesheet", href="/css/main.css") 
  body
    header
      nav
        ul
          li: a(href="/") Home
          li: a(href="/adminLogin") Admin Login
          li: a(href="/adminPanel") Admin Panel
          li: a(href="/createAccount") Create Account
          li: a(href="/forgotPassword") Forgot Password
          li: a(href="/login") Login
          li: a(href="/payment") Payment
          li: a(href="/reserve") Reserve
          li: a(href="/resetPassword") Reset Password
          li: a(href="/messenger") (Temp) Messenger
    main
      section
        h1 Verify Your Account
        p Please enter the 6-digit verification code we sent to your email.
        form(action="/verifyAccount" method="POST")
          div
            label(for="verificationCode") Verification Code:
            input(type="text" id="verificationCode" name="verificationCode" required)
          div
            button(type="submit") Verify Account
    footer
      p &copy; 2025 Parkflow
