doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title User Dashboard | ParkFlow
    link(rel="stylesheet" href="styles.css")
    link(rel="stylesheet" href="bootstrap.css")
    link(rel="stylesheet" href="adminbootstrap.css")
    // Add Font Awesome
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

  body
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-nav 
      .container.px-5 
        img.img-thumbnail.m-sm-3.w-5(src="logo.png" alt="Park Flow Logo")
        a.navbar-brand(href="#") Parkflow
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarResponsive 
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0 
            li.nav-item: a.nav-link.active(aria-current="page" href="/dashboard") Dashboard
            li.nav-item: a.nav-link(href="/admin") Admin Panel
            li.nav-item: a.nav-link(href="/logout") Logout

    // User Dashboard Content
    .content
      .form-container
        h1 Welcome to Your Dashboard, #{first_name}!

        // Available Balance and Ongoing Sessions
        section#dashboard-stats
          .stat-box
            h3 Available Balance
            p £#{balance}

            form(action="/add-balance" method="POST")
              label(for="amount") Add Funds (£):
              input(type="number" name="amount" step="0.01" min="0.01" required)
              button(type="submit") Add Balance

          .stat-box
            h3 Ongoing Sessions
            p: a(href="/session-details") #{sessions} Active  // Replace with dynamic session count

        // Links to other pages with icons
        section#dashboard-links
          a(href="/details")
            i.fas.fa-user-edit
            div Change Your Details
          a(href="/reserve")
            i.fas.fa-car
            div Reserve
          a(href="/logout")
            i.fas.fa-sign-out-alt
            div Logout

    .container-fluid.px-4.p-md-5
      h1.mt-4 Dashboard 
      ol.breadcrumb.mb-4 
        li.breadcrumb-item.active Graphs and Charts
      .row
        .col-xl-6 
          .card.mb-4 
            .card-header 
              i.fas.fa-chart-area.me-1 
              | Money Spent
            .card-body
              canvas#myAreaChart(width="100%" height="40")
        .col-xl-6
          .card.mb-4 
            .card-header 
              i.fas.fa-chart-bar.me-1 
              | Days Parked
            .card-body
              canvas#myBarChart(width="100%" height="40")
      .card.mb-4 
        .card-header
          i.fas.fa-table.me-1 
          | Data Table
        .card-body
          table#datatablesSimple 
            thead 
              tr 
                th Booking ID
                th Name
                th Location
                th Time
                th Status
            tfoot 
              tr 
                th Booking ID
                th Name
                th Location
                th Time
                th Status
            tbody
              tr 
                td 1841798
                td Mr Parkflow
                td UEA Main Car Park
                td 15/05/2025 12:00 - 16:00
                td Inactive
              tr
                td 8491751
                td Mr Parkflow
                td UEA Main Car Park
                td 19/05/2025 12:00 - 16:00
                td Inactive
              tr
                td 17284912
                td Mr Parkflow
                td UEA Main Car Park
                td 22/05/2025 14:00 - 16:00
                td Active
              tr
                td 4658192
                td Mr Parkflow
                td UEA Sports Car Park
                td 25/05/2025 12:00 - 14:00
                td Active
              tr
                td 5628719
                td Mr Parkflow
                td UEA Sports Car Park
                td 21/05/2025 16:00 - 17:00
                td Active
              tr
                td 0928173
                td Mr Parkflow
                td UEA Sports Car Park
                td 26/05/2025 07:00 - 09:00
                td Active


    // Floating Chat Box Icon
    .chat-box
      a(href="/chat")
        i.fas.fa-comment-dots

    // Footer
    footer.py-5.bg-nav
      .container.pix-5 
        p.m-0.text-center.text-white Copyright &copy; 2025 ParkFlow. All Rights Reserved.

script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js' crossorigin='anonymous')
script(src='js/chart-area-demo.js')
script(src='js/chart-bar-demo.js')
script(src='https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js' crossorigin='anonymous')
script(src='js/datatables-simple-demo.js')

