doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Forgot Password | ParkFlow
    link(rel="stylesheet" href="styles.css")

  body
    // Navbar
    nav.navbar
      .logo ParkFlow
      .menu-icon(onclick="toggleMenu()") &#9776;
      ul.nav-links
        li: a(href="/") Home
        li: a(href="/login") Login
        li: a(href="/create-account") Create Account

    // Forgot Password Content
    .content
      .form-container
        h1 Forgot Your Password?
        p Enter your email address below and we’ll send you a password reset link.

        if success
          p(style="color: green") #{success}

        if error
          p(style="color: red") #{error}

        form(action="/forgot-password" method="POST")
          label(for="email") Email:
          input(type="email" id="email" name="email" required)
          button(type="submit") Reset Password

    // Footer
    footer
      p &copy; 2025 ParkFlow. All Rights Reserved.
