html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ParkFlow
    link(rel="stylesheet" href="/styles.css")
    link(rel="stylesheet" href="/bootstrap.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css")

  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-nav 
      .container.px-5 
        img.img-thumbnail.m-sm-3.w-5(src="/logo.png" alt="Park Flow Logo")
        a.navbar-brand(href="/") Parkflow
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarResponsive 
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0 
            li.nav-item: a.nav-link.active(aria-current="page" href="/") Home
            li.nav-item: a.nav-link(href="/login") Login
            li.nav-item: a.nav-link(href="/create-account") Create Account
  

    // Header Content
  
    header.bg-nav.py-5 
      .container.px-5 
        .row.gx-5.justify-content-center 
          .col-lg-6 
            .text-center.my-5 
              h1.display-5.fw-bolder.text-white.mb-2 Welcome to Parkflow 
              p.lead.text-white-50.mb-4 Your smart car park solution 
              .d-grid.gap-3.d-sm-flex.justify-content-sm-center 
                a.btn.btn-primary.btn-lg.px-4.me-sm-3(href="/login") Get Started

    // Slogan

    .py-5.bg-light 
      .container.px-5.my-5 
        .row.gx-5.justify-content-center
          .col-lg-10.col-xl-7
            .text-center 
              .fs-4.mb-4.fst-italic "Park like a flow, with ParkFlow"
              .d-flex.align-items-center.justify-content-center 
                .fw-bold Our Company Slogan

    

    // Features

    section.py-5 
      .container.px-5.my-5 
        .row.gx-5
          .col-lg-4.mb-5.mb-lg-0
            h2.fw-bolder.mb-0 Some call it simple, we call it polished.
          .col-lg-8
            .row.gx-5.row-cols-1.row-cols-md-2
              .col.mb-5.h-100
                .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3 
                  i.bi.bi-phone
                h2.h5 Phone Accessible
                p.mb-0 Our media query is responsive and works on all devices.
              .col.mb-5.h-100
                .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3 
                  i.bi.bi-puzzle
                h2.h5 Intuitive Design
                p.mb-0 Making websites and parking easy for all users.
              .col.mb-5.h-100
                .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3 
                  i.bi.bi-file-bar-graph
                h2.h5 Visualization
                p.mb-0 Unconcealed metrics and data to help you make the best decisions.
              .col.mb-5.h-100
                .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3 
                  i.bi.bi-geo-alt-fill
                h2.h5 Location support
                p.mb-0 Booking can be done from anywhere, to any supported car park location.

    //UEA reference

    header.bg-nav.py-5
      .container.px-5
        .row.gx-5.align-items-center.justify-content-center
          .col-lg-8.col-xl-7.col-xxl-6 
            .my-5.text-center.text-xl-start 
              h1.display-5.fw-bolder.text-white.mb-2 Made by UEA students for UEA students
              p.lead.fw-normal.text-white-50.mb-4 We love our university and want to make it better for all students. Parking is just one of those little things that can be improved.
              .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xl.start
                a.btn.btn-primary.btn-lg.px-4.me-sm-3(href="https://www.uea.ac.uk/") UEA Website
          .col-xl-5.col-xxl-6.d-none.d-xl-block.text-center 
            img.img-fluid.rounded-3.my-5(src="ueaphoto.jpg" alt="altText")

    // About Us
    section.py-5.border-bottom
      .text-center.mb-5 
        h2.fw-bolder About our team
      .container.px-5.my-5
        .row.gx-5   
          .col-lg-13.mb-5.mb-lg-0
            .headshotfeature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
              img.headShot.rounded-3(src="harrisonheadshot.png")
            h2.h4.fw-bolder Harrison Mills
            p Team Leader, Allfather of Voidborn Legacy.
          .col-lg-13.mb-5.mb-lg-0
            .headshotfeature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
              img.headShot.rounded-3(src="kshitijheadshot.png")
            h2.h4.fw-bolder Kshitij Rai
            p From Hong Kong not Nepal. DEI hire.
          .col-lg-13.mb-5.mb-lg-0
            .headshotfeature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
              img.headShot.rounded-3(src="leihlheadshot.png")
            h2.h4.fw-bolder Leihl Zambrano
            p Pug enthusiast. Had traffic at work.
          .col-lg-13.mb-5.mb-lg-0
            .headshotfeature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
              img.headShot.rounded-3(src="louisheadshot.png")
            h2.h4.fw-bolder Louis Ogden
            p Silver surfer. Aram enjoyer, and decent Renekton.
          .col-lg-13.mb-5.mb-lg-0
            .headshotfeature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
              img.headShot.rounded-3(src="nemsungheadshot.png")
            h2.h4.fw-bolder Nemsung Rai
            p Planning, front-end, bug-fixing and testing. Janitor and decorator.



    // Footer
    footer.py-5.bg-nav
      .container.pix-5 
        p.m-0.text-center.text-white Copyright &copy; 2025 ParkFlow. All Rights Reserved.

//Burger dropdown support and other bootstrap basics
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js")
script(src="/public/js/script")
