doctype html
html
  head
    title Payment
    link(rel="stylesheet" href="css/main.css")
  body
    header
      nav
        ul
            li: a(href="/") Home
            li: a(href="/adminLogin") Admin Login
            li: a(href="/adminPanel") Admin Panel
            li: a(href="/createAccount") Create Account
            li: a(href="/forgotPassword") Forgot Password
            li: a(href="/login") Login
            li: a(href="/payment") Payment
            li: a(href="/reserve") Reserve
            li: a(href="/resetPassword") Reset Password
            li: a(href="/messenger") (Temp) Messenger
    main
      section
        h1 Payment
        h2 UEA Car Park
        p Location Code: 12345
        h2 Session
        table
          tr
            th Session ID
            td 000001
          tr
            th Vehicle
            td GG75QFH
          tr
            th Duration
            td 2 hrs
          tr
            th Start
            td 12:00 17/02/2025
          tr
            th End
            td 14:00 17/02/2025
        h2 Payment
        p Tariff Amount: £5.00
        p Payment Type: CARD
        button Confirm Payment
    footer
